[Unit]
Description=Your Python Script
After=network.target

[Service]
ExecStart=python3 /root/log.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
