[Unit]
Description=Security Service
After=network.target

[Service]
ExecStart=python3 client.py
WorkingDirectory=/opt/security
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
